{% extends "base.html" %}

{% block body %}
<div class="col-lg-7 mb-5 mx-auto">
    <div class="contact-form bg-light p-30">
        <div class="login form">
            <header>Set Password</header>
            <form  method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Enter your email" name="email">

                <button type="submit" class="btn btn-primary" >Check Email</button>
            </form>
        </div>
    </div>
</div>            

{% endblock body %}


