{% extends "base.html" %}
{% block body %}
<div class="col-lg-7 mb-5 mx-auto">
    <div class="contact-form bg-light p-30">
        <div class="login form">
            <header>Login</header>
            <form action="#">
            <input type="text" placeholder="Enter your email">
            <input type="password" placeholder="Enter your password">
            <a href="#">Forgot password?</a>
            <input type="button" class="button" value="Login">
            </form>
            <div class="signup">
            <span class="signup">Don't have an account?
            <label for="check">Signup</label>
            </span>
            </div>
        </div>
    </div>
</div>        
{% endblock body %}